* {
    box-sizing: border-box;
    margin: 0;
padding: 0;
}
.p3{
    border: solid black 1px;
    background-color: aqua;
    padding: 2em;
}
#menu {
    background-color: aquamarine;
    width: 20%;
    float: left;
}
#main {
    background-color: #6969ca;
    float: right;
    width: 78%;
}
div {
    text-align: center;
    height: 400px;

}
.p2 {
    margin: 1%;
    float: right;
    width: 48%;
    height: 300px;
}
.p1{
    width: 50%;
    float: left;
    height: 300px;
}
